:global {
  @import 'base';
  @import 'vendor/normalize';

  $font-stack:    Helvetica, sans-serif;
  $bgColor: #70001A;
  $fgColor: #FF9393;
  $fgColorVariant: #FF8484;
  $inputBgColor: #5D0E0E;
  $inputBgColorVariant: #962C2C;

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: $fgColor;
    text-shadow: 2px 2px 2px #690101;
    background: rgba(54,2,14,1);
    background: linear-gradient(to right, rgba(54,2,14,1) 0%, rgba(158,2,38,1) 44%, rgba(109,0,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36020e', endColorstr='#6d0019', GradientType=1 );
  }

  .text-center {
    text-align: center;
  }

  hr {
    border-color: $fgColor;
  }
  
  a {
    color: $fgColor;
  }

  a:hover {
    color: $fgColorVariant;
  }

  #git-link {
    width: 30px;
    height: 30px;
    background-color: $fgColor;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;    
  }

  svg.git-icon {
    display: inline-block;
    vertical-align: text-top;
    fill: $bgColor;
  } 

  input, button {
    background-color: $inputBgColor;
  }

  input:hover, button:hover {
    background-color: $inputBgColorVariant;
  }

  [type="number"] {
   width: 30px;
   border: none;
   outline: none;
   width: 38px;
  }

  .reset-btn {
    right: 0;
    top: -21px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .matrix-container { 
    position: relative;
    margin: 10px auto;
    border: double $fgColor;
    border-radius: 5px;
  }

  .cell {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: $fgColor;
    background: linear-gradient(to bottom, #bc2747 0%,#8f0222 44%,#5b000f 100%);
    
    border-radius: 15px;
  }

  .sravan-pic {
    display: inline-block;
    box-shadow: 2px 2px 2px #400000;
    padding: 5px;
    border-radius: 2px;
  }
}
